.article-reveal {
	margin: 0 auto;
	position:relative;

	&__inner {
		position: relative;
		text-align: center;
		padding-top: @article-body-margin;
		padding-bottom: @article-body-margin*2;
	}

	&__hidden {
		display:none;
	}

}
